<form action="http://localhost:5001/elaxi-api/us-central1/app/api/database/upload/upload" method="post" enctype="multipart/form-data">
    <input name="nome" type="text" />
    <input name="site" type="text" />
    <input type="submit" value="Enviar" />
</form>