<!DOCTYPE html>
<html>
<!-- Código com direitos autorais by Cls
Todos os comentários estarão em inglês para uma melhor leitura global
 -->
<head>
  <!-- básicos -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
  <title>Elaxi</title>
  <!-- estilo do slider -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />
  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  <!-- awesome style -->
  <link href="css/font-awesome.min.css" rel="stylesheet" />
  <link src="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- fonts google-->
  <link href="https://fonts.googleapis.com/css?family=Dosis:500|Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- personalizado  -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsivo style -->
  <link href="css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section ">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="index.html">
            <span>
              Elaxi
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
          </button>
          <div class="collapse navbar-collapse ml-auto  " id="navbarSupportedContent">
            <ul class="navbar-nav  ">
              <li class="nav-item ">
                <a class="nav-link" href="#">nd aki </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">nd aki </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">nd aki</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">nd aki</a>
              </li>
            </ul>
            <div class="user_option ">
              <a href="" class="">
                Login / signUp
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->



    <!-- slider section -->
    <section class=" slider_section position-relative">
      <div class="box">
        <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <div class="detail-box">
                      <h1>
                        Bem-vindo ao Elaxi
                      </h1>
                      <p class="col-lg-11 px-0">
                        Apis para desenvolvimento node.js
                       </p>
                      <a href="">
                        login
                      </a>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="img-box">
                      <img src="https://firebasestorage.googleapis.com/v0/b/forty-1a729.appspot.com/o/nodejs-api-rest-padronizada-escalavel.png?alt=media&token=f0052dee-4f09-42c9-9a5d-5c53deddec17" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <div class="detail-box">
                      <h1>
                        Bem-vindo ao Elaxi
                      </h1>
                      <p class="col-lg-11 px-0">
                        Rest apis com documentação e source code, 
                        para facilitar a vida de um desenvolvedor.
                       </p>
                      <a href="">
                        Documentação
                      </a>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="img-box">
                      <img src="https://firebasestorage.googleapis.com/v0/b/forty-1a729.appspot.com/o/oie_transparent%20(1).png?alt=media&token=ca42d219-38c6-4d56-9701-deeedfac5e19" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <div class="detail-box">
                      <h1>
                        API para trafegos e informações
                      </h1>
                      <p class="col-lg-11 px-0">
                        Tenha informações em tempo real sobre o clima, saúde,
                        trafego, depay, ping e muito mais em tempo real.
                       </p>
                      <a href="">
                        Documentação
                      </a>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="img-box">
                      <img src="https://firebasestorage.googleapis.com/v0/b/forty-1a729.appspot.com/o/slider-img.png?alt=media&token=69e87da0-e5b4-46e0-bdda-7a2f5d077a2a" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="carousel-btn-box">
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>



  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="images/about-img.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Sobre nós
              </h2>
            </div>
            <p>
              Elaxi é uma API Node.js poderosa que permite que você interaja com a API CLs.org muito facilmente. 
              Tornando o código do seu projeto significativamente mais interativo e mais divertido de se trabalhar.
            </p>
            <a href="https://nodejs.org/">
              Documentação node.js
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- why section -->

  <section class="why_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Algumas APIs poderosas e fáceis de usar
        </h2>
      </div>
      <div class="why_container">
        <div class="row">
          <div class="col-md-4">
            <div class="box b1">
              <div class="img-box">
                <img src="https://firebasestorage.googleapis.com/v0/b/forty-1a729.appspot.com/o/w1.png?alt=media&token=29eac178-e11b-4c5c-81d2-a599526b65ce" alt="" class="" />
              </div>
              <div class="detail-box">
                <h5>
                  Dog random
                </h5>
                <p>
                   Imagens aleatórias de cachorros fofos,
                  100% hospedada em nossos bancos de dados.
               </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box b2">
              <div class="img-box">
                <img src="images/w2.png" alt="" class="" />
              </div>
              <div class="detail-box">
                <h5>
                  em desenvolvimento..
                </h5>
                <p>
               
                  em desenvolvimento.. </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box b3">
              <div class="img-box">
                <img src="images/w3.png" alt="" class="" />
              </div>
              <div class="detail-box">
                <h5>
                </h5>
                <p>
                  em desenvolvimento..
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end why section -->
  <!-- client section -->

  <section class="client_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Nossos desenvolvedores
        </h2>
      </div>
    </div>
    <div class="container">
      <div class="col-md-9 mx-auto px-0">
        <div id="carouselExample2Controls" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExample2Controls" data-slide-to="0" class="active">
              <img src="images/c1.jpg" alt="">
            </li>
            <li data-target="#carouselExample2Controls" data-slide-to="1">
              <img src="images/c2.jpg" alt="">
            </li>
            <li data-target="#carouselExample2Controls" data-slide-to="2">
              <img src="images/c3.jpg" alt="">
            </li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="detail-box">
                <h5>
                  ${nome_do_dev}
                </h5>
                <h6>
                  ${funcao_do_dev}
                </h6>
                <p>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                  ${sobre_o_dev}
                  <i class="fa fa-quote-right" aria-hidden="true"></i>
                </p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="detail-box">
                <h5>

                  ${nome_do_dev}
                </h5>
                <h6>

                  ${funcao_do_dev}
                </h6>
                <p>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                    ${sobre_o_dev}
                  <i class="fa fa-quote-right" aria-hidden="true"></i>
                </p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="detail-box">
                <h5>

                  ${nome_do_dev}
                </h5>
                <h6>

                  ${funcao_do_dev}
                </h6>
                <p>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                   ${sobre_o_dev}
                  <i class="fa fa-quote-right" aria-hidden="true"></i>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

  <!-- end client section -->
  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://cls.org/">Cls.org</a>
      </p>
    </div>
  </footer>
  <!-- footer section -->


  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/custom.js"></script>

</body>

</html>